
 {
    background-image: url("https://res.cloudinary.com/dwnqgtvop/image/upload/v1570540932/Poster-Background-Design-Nature-photo-background-blurred-stock-sunset-palm-tree-silhouette-vector-Poster-Background-Design-Nature-sunset-background-palm-tree-silhouette-stock_cqu3vy.jpg");
    backgroud-repeat: no-repeat;
    background-size:2000px;
}
